* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: #674baf;
  z-index: -3;
}

.main-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "container" "footer";
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  padding: 0 2.2rem;
  z-index: -2;
  background: url("./images/bg-mobile.svg") no-repeat;
  background-size: contain;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  width: calc(min(50%, 200px));
  padding: 2.5rem 0 3.5rem 0;
}

.header__logo {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: container;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mockup__img {
  width: calc(min(100%, 900px));
  padding: 0 auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.registration {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2rem 0 0 0;
  font-size: calc(clamp(1.24rem, 2vw, 1.6rem));
}

.registration__heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.registration__text {
  font-size: 0.75em;
  padding: 2rem 0;
  color: #e2e0f5;
}

.registration__button {
  width: 60%;
  font-weight: 600;
  padding: 1rem 1rem;
  color: rgba(103, 75, 175, 0.883);
  background-color: white;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.466);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.466);
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
}

.registration__button:hover {
  color: white;
  background-color: #e882e8;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  padding: 2rem 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__item {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 0.5rem;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

.footer__item:hover {
  color: #e882e8;
  border: 1px solid #e882e8;
}

.signature {
  display: none;
  position: fixed;
  bottom: 0;
}

@media (min-width: 790px) {
  .main-wrapper {
    max-width: 1440px;
    padding: 0 4rem;
    background-image: url("./images/bg-desktop.svg");
    background-size: 90% 100%;
  }
  .bg__img {
    height: 100vh;
  }
  .container {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: container;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mockup {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  .registration {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding: 0 1rem 0 3rem;
  }
  .registration__heading {
    font-size: 1.75em;
  }
  .registration__button {
    font-size: 1rem;
    width: 35%;
  }
  .footer {
    justify-self: flex-end;
  }
}

.signature {
  position: fixed;
  bottom: 1%;
  left: 1%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1f0902;
  color: #f25a29;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0 2px 20px -8px #1f0902a8;
          box-shadow: 0 2px 20px -8px #1f0902a8;
  opacity: 0.7;
  -webkit-transition: background-color 0.4s ease, opacity 0.2s ease, height 0.4s ease, border-radius 0.4s ease, width 0.4s ease, -webkit-box-shadow 0.4s ease;
  transition: background-color 0.4s ease, opacity 0.2s ease, height 0.4s ease, border-radius 0.4s ease, width 0.4s ease, -webkit-box-shadow 0.4s ease;
  transition: background-color 0.4s ease, opacity 0.2s ease, box-shadow 0.4s ease, height 0.4s ease, border-radius 0.4s ease, width 0.4s ease;
  transition: background-color 0.4s ease, opacity 0.2s ease, box-shadow 0.4s ease, height 0.4s ease, border-radius 0.4s ease, width 0.4s ease, -webkit-box-shadow 0.4s ease;
  cursor: pointer;
}

.signature:hover {
  -webkit-box-shadow: 0 10px 40px -8px #1f0902a6;
          box-shadow: 0 10px 40px -8px #1f0902a6;
  opacity: 1;
}

.signature::before {
  content: "Z";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.signature__attribution {
  line-height: 1.5;
  color: #1f0902;
  text-decoration: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.signature-active {
  width: 280px;
  height: 70px;
  border-radius: 0;
  opacity: 1;
  background-color: #f25a29;
}

.signature-active .signature__attribution {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.signature-active.signature::before {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */